.circle {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
  }
  
  .line {
    position: absolute;
    background-color: black;
  }
  
  .horizontal {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    transform: translateY(-1px);
  }
  
  .vertical {
    width: 1px;
    top: 0;
    bottom: 0;
  }
  
  .left {
    left: 50%;
    transform: translateX(-1px);
  }
  
  .right {
    right: 50%;
    transform: translateX(1px);
  }